<div id="page">
    <div id="header1">
        <div id="head_info", style="float:left">    
            <h1>Friends</h1>
        </div>
    </div>

    <div>
	<%= link_to 'Back', posts_path %>
	</div>
</div>	
