// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

  .footer {
          height:24px; // Replace with the height your footer should be
          width: inherit; // Don't change
          background-image: none;
          background-repeat: repeat;
          background-attachment: scroll;
          background-position: 0% 0%;
          position: fixed;
          bottom: 0pt;
          left: 0pt;
  }   

 .footer_contents {
           height:24px; // Replace with the height your footer should be
           width: 1000px; // Visible width of footer
           margin:auto;
 }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: auto;
  height:auto;
  margin-top: 51px; // accommodate the navbar
  margin-bottom:24px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

